body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.wrapper > div {
    float: left;
}

.header {
    width: 100%;
}

.content {
    width: 80%;
}

.sidebar {
    width: 20%;
}

#searchForm {
    margin: 30px 0;
}

.item {
    cursor: pointer;
}

.item:hover {
    background-color: #ccffff;
}

.odd, .even {
    padding: 10px;
    text-align: left;
}

.even {
    background-color: #f5f5f5;
}

#editFormWrap {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #aaa;
    background-color: #eee;
    padding: 0 10px 20px 10px;
    margin-bottom: 30px;
}

#editFormWrap label {
    display: block;
    margin-top: 10px;
}

.sidebar li {
    text-align: left;
}